:root {
  font-family: "Titillium Web", sans-serif;
  color-scheme: light dark;
  color: black;
  background-color: white;
}

a {
  position: relative;
  color: black;
  text-decoration: none;
}

/* a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  
  a:hover::after {
    transform: scaleX(1);
  } */

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-size: 3.4rem;
  margin: 0px;
}

section {
  position: relative;
}

h3 {
  font-weight: 100;
}

.check-out-button {
  border-bottom: 1px solid black;
  padding: 5px;
  transition: 0.5s ease;
}

.check-out-button:hover {
  background-color: black;
  border-color: black;
  border-radius: 12px;
  color: white;
}

.project-title {
  display: flex;
  justify-content: center;
}

.single-project {
  border: 1px solid white;
  border-radius: 15px;
  padding: 55px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 50px;
  height: 380px;
  margin-bottom: 50px;
  transition: background-color 0.3s ease;
}

.single-project:hover {
  background-color: #a9d2dfd2;
  transition: background-color 0.2s ease;
}

.project-parent-div {
  width: 500px;
}

.map-projects {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Tablet and mobile styling */
@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }

  .single-project {
    padding: 20px;
    height: auto;
    margin-bottom: 30px;
  }

  .project-parent-div {
    width: 100%;
  }

  .map-projects {
    flex-direction: column;
    align-items: center;
  }

  .project-title {
    font-size: 2rem;
    text-align: center;
  }

  .project-image {
    width: 100%;
    height: auto;
  }

  .description-project {
    font-size: 1rem;
  }
}

/* Mobile styling */
@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem;
  }

  .single-project {
    padding: 15px;
    height: auto;
    margin-bottom: 20px;
  }

  .project-parent-div {
    width: 100%;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .project-image {
    width: 100%;
    height: auto;
  }

  .description-project {
    font-size: 0.9rem;
  }

  .project-image {
    display: none;
  }
}

@media (min-width: 1800px) {
  .project-image {
    display: none;
  }
}
