.go-back {
  margin-left: 40px;
  margin-top: 16px;
}

.link-go-back {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 980px;
  color: #1d1d1f;
  font-weight: 500;
}

.back-button-arrow {
  margin-right: 8px;
}


@media (max-width: 480px) {
  .go-back {
    margin-left: 16px;
    margin-top: 16px;
  }
}
