.title {
  display: flex;
  justify-content: center;
}

.single-job {
  width: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: -20px;
}

.experience-section {
  margin-top: 40px;
}

.role-title {
  display: flex;
}

.role {
  margin-right: 10px;
}

.employer {
  padding-top: 8px;
}

.description {
  margin-top: -20px;
}

.vertical-line {
  margin-left: 80px;
  width: 2px;
  height: 50px;
  background-color: rgba(128, 128, 128, 0.404);
}

.languages {
  margin-top: -20px;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .single-job {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: -20px;
  }

  .role-title {
    display: block;
  }

  .role {
    margin: 0px;
    padding: 0px;
    padding-bottom: 16px;
  }

  .employer {
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 0px;
  }

  .employer {
    padding-top: 8px;
    margin-bottom: 10px;
  }
}
