/* styles.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: black;
  background: rgb(102, 188, 231);
  background: linear-gradient(
    286deg,
    rgba(102, 188, 231, 1) 0%,
    rgba(156, 210, 238, 1) 12%,
    rgba(200, 230, 243, 1) 25%,
    rgba(214, 237, 244, 1) 57%,
    rgba(245, 245, 245, 1) 100%
  );
}

a {
  position: relative;
  color: black;
  text-decoration: none;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

a:hover::after {
  transform: scaleX(1);
}

body {
  margin: 0;
}

h1 {
  font-size: 3.4rem;
}

#project-picture {
  padding-left: 40vw;
  margin-top: -50px;
  position: absolute;
}

.vertical-line {
  border-right: 1px solid black;
  height: 120px;
  width: 320px;
}

.intro-section {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 102vh;
}

.intro-links {
  display: flex;
}

.link {
  padding-right: 20px;
  margin-bottom: 15px;
  margin-top: 0;
}

.intro-name {
  margin-top: 40%;
  margin-left: 10%;
  width: fit-content;
  margin-right: fit-content;
}

.typing-container {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 20px;
  padding-right: 10px;
  border-right: 0.15em solid black;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.link {
  animation: fade-in 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.description-section {
  display: flex;
  padding-bottom: 20px;
}

.school-img {
  margin-left: 30px;
}

.school-section {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  height: fit-content;
}

.title-text-box {
  margin-top: -50px;
  margin-bottom: 50px;
}

.map-projects {
  display: grid;
}

.single-project {
  margin: 20px;
  width: 600px;
  padding: 50px 0;
}

.text-section2 {
  width: 500px;
  margin-bottom: 80px;
}

.text-section {
  width: 500px;
  margin-bottom: 80px;
}

.project-title {
  /* margin-left: 270px; */
  margin-left: 10px;
  font-size: 2em;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
